/*
 * ecalconddb.css
 * 
 * CSS styling for the application
 * $Id: ecalconddb.css,v 1.4 2007/04/12 11:04:42 fra Exp $
 */

.r { background:  red; }

body {
  font-family:  sans-serif; 
}

table.runselect {
  border:  thick solid #003355;
  border-collapse:  collapse;
}

table.runselect th, table.runselect td {
  border:  thin solid #003355;
}

table.runs {
  width:  1200px;
  border:  thick solid #003355;
  border-collapse:  collapse;
  background:  #f0f0ff;
  margin:  3px;
}

table.runs tr {
}

table.runs th, table.runs td {
  text-align:  center;
  font-size: 10pt;
}

table.runs th {
  border:  thin solid #003355;
}

table.runs td {
  border-left:  thin solid #003355;
  border-right:  thin solid #003355;
}

table.runs td a {
  text-decoration:  none;
}

table.bads {
/*  width:  800px; */
  border:  thick solid #003355;
  border-collapse:  collapse;
  background:  #f0f0ff;
  margin:  3px;
}

table.bads tr {
  border:  thin solid #003355;
}c

table.bads th, table.bads td {
  text-align:  center;
  font-size: 10pt;
}

table.bads th {
  border:  thin solid #003355;
  padding:  1px 3px;
  font-size:  10pt;
}

table.bads td {
/*  border-left:  thin solid #003355;
  border-right:  thin solid #003355;*/
  border:  thin solid #003355;
  text-align:  right;
  padding:  1px 20px;
}

table.bads td a {
  text-decoration:  none;
}

tr.bads  {
  background:  #fff0f0;
}

th.typehead {
  width:  80px;
}

td.dbplot {
  width:  80px;
}

div.plot {
  display:  block;
  border:  thick solid #003355;
  background:  #f0f0ff;
  padding:  10px 10px 10px 10px;
}

div.plot {
}

/* allows tooltips in <div> */
div.ttp {
  position:  relative;
  z-index:  24;
}

div.ttp:hover {
  z-index:  25;
}

div.ttp div.tt {
  position: absolute;
  top: 2em;
  left: -3000px;
  z-index:  25;

  /* The default tooltip style */
  border:  1px solid blue;
  background-color:  white;
  color:  black;
  font-size:  8pt;
}

div.ttp:hover div.tt {
  left:  0px;
}

/* allows div to be inline but NOT break safari popups */
.bl,.bc {
  display:  block;
  padding:  1px 1px 1px 1px;
  margin:  0px 2px 0px 2px;
}

.bc { float:  center; }
.bl { float:  left; }
.br { floar:  right; }

/* for right-side tooltips */
.rtt {
  margin-left:  -100px;
}


table.runs td.run_num {
  border:  thin solid #003355;
  text-align:  center;
  vertical-align:  middle;
  font-weight:  bold;
  font-size:  14pt;
}

table.BEAM,table.MON,table.DCU,table.LMF,table.DCS {
  width:  100%;
  margin:  3px;
  border:  thin solid black;
  border-collapse:  collapse;
}

table.BEAM {
  background:  #f0fff0;
}

table.MON {
  background:  #fff0f0;
}

table.DCU {
  background:  #aaf0f0;
}

table.LMF {
  background:  #f0aaf0;
}

table.DCS {
  background:  #f0f0aa;
}

td.noresults {
  text-align:  left;
  font-weight:  bold;
  font-style:  italic;
}	

div.pager a {
  color:  #000077;
  font-style:  normal;
  text-decoration:  none;
}

div.pager a:hover {
  color:  red;
  font-weight:  bold;
}

div.pager strong {
  color:  green;
  font-weight:  bold;
}

.good a, .bad a { 
  color:  white;
}

.good {
  background:  green;
}

.bad {
  background:  red;
}
