body
{
 margin:	  0px	 ;
 background:	  #414141;
 font-family:	  arial  ;
 font-size:	  10px   ;
 width: 	  100%   ;
}

#canvasBorder
{
 border:	  6px solid #283274;
 background:	  black;
}

#theCanvas .theCanvas
{
 left:             1px    ;
 right:            1px    ;
 background-color: red    ;
}

#theCanvasField .theCanvasField 
{
 background:       #225587;
 background-color: #225587;
}

#controls
{
 width: 	  90%;
 text-align:	  center;    
}

.controlButton
{
 font-family:	  arial;
 font-size:	  10px;
}

#imgTitle
{
 width: 	  90%;
 font-family:	  arial;
 font-size:	  10px;
 color: 	  white;
 text-align:	  center;    
 background:	  #414141;
}

.someText
{
 font-family:	  arial;
 font-size:	  8pt;
 color: 	  maroon;
 text-align:	  left;      
 background:	  #fff4d8;
}

a:link, a:visited
{
 text-decoration: none;
 color: 	  #336699;	 
}

a:hover
{
 color:            black;
}
