  body
  {
   margin:            0;
   padding:           0;
  }

  #info
  {
   position:          absolute;
   top:               0;
   left:              0;
   width:             100%;
   text-align:        center;
   padding:           10px;
   font-family:       sans-serif, "Trebuchet MS", Verdana, ;
   font-size:         8pt;
   background-color:  #eee;
   border-bottom:     solid 1px #ccc;
  }

  #button
  {
   font-family:       sans-serif, "Trebuchet MS", Verdana, ;
   font-size:         8pt;
  }

  #message
  {
   font-family:       sans-serif, "Trebuchet MS", Verdana, ;
  }
 
  .magnifier
  {
   position: 	      absolute;
   border:   	      solid 1px #000;
   cursor:            move;
   background-repeat: no-repeat;
   background-color:  #fceeb8;
  }
 
  .magnifierShadow
  {
   position:          absolute;
   background:        transparent;
   padding:           0;
   margin:            0;
  }
 
  .magnifierController
  {
   color:             #fceeb8;
   font-family:       sans-serif, "Trebuchet MS", Verdana ;
   font-size:         9px;
  }
 
  .magnifierControllerContainer
  {
   padding:           10px;
  }

  .magnifierControllerPrefix
  {
   color:             #111;
  }
 
  .magnifierControllerButton
  {
   color:             #666;
   cursor:            pointer;   
   background-color:  #eee;
   border:            solid 1px #ddd;
/*   font-family:       sans-serif, Verdana ;*/
   padding:           0px 4px 0px 4px;
   font-size:         9pt;
   /*text-shadow: dimgray 0px 0px 3px;*/
  }
 
  .magnifierControllerButtonSelected
  {
   color:             #333;
   cursor:            pointer;   
   background-color:  #ccc;
   border:            solid 1px #aaa;
   font-weight:       bold;
/*   font-family:       sans-serif, Verdana ;*/
   padding:           0px 3px 0px 3px;
   font-size:         9pt;
   /*text-shadow: dimgray 2px 2px 3px;*/
  }
