body 
{ 
 font-family:      arial  ;
 font-size:        small  ;
}
      
h3
{
 font-size:        8pt;
 font-family:      Verdana, Arial;
 font-color:       maroon; 
}

table 
{
 color:            yellow ;
 background-color: blue   ;
 border-width:     5px    ;
 border-style:     groove ;
 border-color:     black  ;
 padding:          10px   ;
}

.controlButton
{
 font-family:      arial  ;
 font-size:        10px   ;
}

.selector
{
 font-family:      arial  ;
 font-size:        10px   ;
}

.label
{
 font-family:      arial  ;
 font-size:        10px   ;
}

#dqmControls .dqmControls
{
 left:             1px    ;
 right:            1px    ;
 background-color: red    ;
}

#progressIcon .progressIcon
{
 font-size:        18px	  ;
 color:            red	  ;
 visibility:       hidden ;
 background:       yellow;
}

#theLegend .theLegend
{
 font-size:        18px	  ;
 color:            red	  ;
}

.largeCheckBox 
{  
 width  : 	   1.8em ; 
 height : 	   1.8em ; 
 }	

.mediumCheckBox 
{  
 width  : 	   1.2em ; 
 height : 	   1.2em ; 
 }	

.smallCheckBox 
{  
 width  :  	   1.0em ;
 height :     	   1.0em ;
}  

