  #slideNumber
  {
   font-family:      "courier";
   font-size:        8pt;
   background-color: #fceeb8;
  }

  #slideShowTime
  {
   font-family:      "courier";
   font-size:        4pt;
   background-color: #fceeb8;
  }

