.normalText 
{ 
 fill:        	    black;
 font-weight: 	    bold ;
}

h3
{
 font-size:   	    8pt;
 font-family: 	    Verdana, Arial;
 color:       	    #ffb400;
}

.dragRect 
{
 fill:        	    darkcyan;
 stroke:      	    none    ;
 opacity:     	    0.4     ;
}

.controlButton
{
 font-size:   	    8pt;
 color:       	    #831600;
}

.legend
{
 color:       	    #73d0fb;
 font-size:   	    8pt;
}

.inputBox
{
 font-size:   	    8pt;
 fill:        	    #fdf2d0;
}
