
:root {
    --colr-black: #3C3530;
    --colr-green: #AACD6E;
    --colr-gray: #C5C6B6;
}
html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "PingFang TC", "Heiti TC", 微軟正黑體, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    height: 30px;
    float: bottom;
    bottom:0;
}
.core {
    height: 95vh;
}
.container {
    display: grid;
	
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: 1fr 30px 30px;
}

.name_div {
    background-color: var(--colr-green);
	grid-column: 1/2;
	grid-row: 1/8;
}
#name_view {
    width: 100%;
    height: 100%;
}

.graph_div {
	grid-column: 2/11;
	grid-row: 1/8;
    background-color: var(--colr-gray);
}
#graph_view {
    width: 100%;
    height: 100%;
}
.time_div {
	grid-column: 2/11;
	grid-row: 9;
    background-color: #FF0000;
}

#time_view {
	height: 50px;
    width: 100%;
}

.selected {
	grid-column: 1/11;
	grid-row: 10;
	height: 50px;
}

.controls {
    grid-column: 1/1;
    grid-row: 9;
}
#jsonDropdownDiv {
    margin-bottom: 20px;
}

#loadingSpinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999; /* Make sure it's on top of other elements */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: background overlay */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#selectFilePrompt {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
    text-align: center;
}


