<?xml version="1.0" ?>
<connectionlist>
<connection name="oracle://servicename/accountname">
  <parameter name="user" value="account" />
  <parameter name="password" value="****" />
</connection>
</connectionlist>
