__init__.py
*.pyc
.*.swp
.#*
#*#
*~
*.pb
*.png
*.root

# ignore partially applied patches and their backup
*.rej
*.orig


# ignore files under the top level $CMSSW_BASE/src directory, but not its subdirectories
/*
!/*/

# ignore some IDE related files
*.xcodeproj
.vscode

#ignore mac specific file
.DS_Store
