

process gctValidation = {

  include "FWCore/MessageLogger/data/MessageLogger.cfi"

  # Emulator configuration
  include "L1TriggerConfig/L1ScalesProducers/data/L1CaloScalesConfig.cff"
  include "L1TriggerConfig/GctConfigProducers/data/L1GctConfig.cff"
  
  source = EmptySource {
  }

  untracked PSet maxEvents = {untracked int32 input = 1}

  module vmeToRaw = TextToRaw {
    untracked string filename = "slinkOutput.txt"
    untracked int32 eventSize = 416
  }

  module l1GctHwDigis = GctRawToDigi {
    untracked int32 GctFedId = 745
  }

  # GCT emulator
  module l1GctEmulDigis = L1GctEmulator { 
    InputTag inputLabel = l1GctHwDigis
  }


  path p = { vmeToRaw, l1GctHwDigis, l1GctEmulDigis }

  module outputEvents = PoolOutputModule {
    untracked string fileName = "gctRaw.root"
  }

  endpath outpath = { outputEvents }

}