mtv
*~
results/
*.o
debug.root
*.pdf
plots/
plots_*/
scripts/moduleconnection*.txt
*.root
.make.log*
performance*
bin/doAnalysis
bin/lst
bin/lst_cuda
bin/lst_cpu
bin/lst_rocm
code/rooutil/librooutil.so
code/rooutil/rooutil.so
.gitversion.txt
efficiency/doAnalysis
.jobs.txt
efficiency/results*
efficiencies/
efficiency/bin/createEffNumDenPlots
efficiency/bin/createPerfNumDenHists
efficiency/compare
efficiency/summary
*.txt
*.pyc
output*
movetoweb.sh
*.nvvp
*.ipynb
*.log
*.nsys-rep
*.sqlite
*.ncu-rep
*.swp

*.nfs*
.directoryhash
performance/
notebooks/
