/GPs_parametrised_minus_v1.xml
/GPs_parametrised_plus_v1.xml
/Patterns_0x00020007.xml
/Patterns_0x0003.xml
/Patterns_0x00031_oldSample_10Files.xml
/Patterns_0x0003_TT_withBitShiftAndHighDtQual.xml
/Patterns_0x0005_1_oldSample_10Files.xml
/Patterns_0x0006_2_oldSample_10Files.xml
/Patterns_0x0008_oldSample_3_10Files.xml
/Patterns_0x0009_oldSample_3_10Files.xml
/PtCalibration.root
/PtCalibration_v21.root
/PtCalibration_v31.root
/PtCalibration_v32.root
/PtCalibration_v33.root
/PtCalibration_v34.root
/hwToLogicLayer.xml
/hwToLogicLayer_0x00020005.xml
/hwToLogicLayer_0x0004.xml
/hwToLogicLayer_0x0005.xml
/hwToLogicLayer_0x0006.xml
/hwToLogicLayer_0x0007.xml
/hwToLogicLayer_0x0008.xml
/hwToLogicLayer_0x0008_patGen.xml
/muonMatcherHists.root
/muonMatcherHists_100files_smoothStdDev.root
/muonMatcherHists_100files_smoothStdDev_withOvf.root
/omtfClassifier_withPtBins_v21.txt
/omtfClassifier_withPtBins_v28.txt
/omtfClassifier_withPtBins_v31.txt
/omtfClassifier_withPtBins_v32.txt
/omtfClassifier_withPtBins_v33.txt
/omtfClassifier_withPtBins_v34.txt
/printPset.sh
/Patterns_0x00012_oldSample_3_30Files_grouped1_classProb1_recalib_12pats.xml
