process VALID  = 
{
  service =  RandomNumberGeneratorService {
    untracked uint32 sourceSeed = 123456789
	# This is to initialize the random engine of Famos
	# Watch out! This works only if the FamosProducer label is "Famos"
    PSet moduleSeeds =
    {
	    # untracked uint32 VtxSmeared = 123456789
      untracked uint32 famosSimHits = 13579
      untracked uint32 siTrackerGaussianSmearingRecHits = 24680
      untracked uint32 famosPileUp = 234561	
    }
  }
  
  untracked PSet maxEvents = {untracked int32 input = 100000}
  
  source = FlatRandomPtGunSource 
  {	 
    untracked uint32 firstRun  = 1
    untracked      PSet  PGunParameters =
    {
      untracked vint32 PartID = {13} 
      untracked double MinEta = -3.0
      untracked double MaxEta = 3.0
      untracked double MinPhi = -3.14159265358979323846  # it must be in radians
      untracked double MaxPhi =  3.14159265358979323846
      untracked double MinPt   = 1.0
      untracked double MaxPt   = 1.0
    }      
    untracked int32 Verbosity = 0 # for printouts, set it to 1 (or greater)   
  }	
  
    # Famos sequences
  include "FastSimulation/Configuration/data/CommonInputsFake.cff"
  include "FastSimulation/Configuration/data/FamosSequences.cff"
  replace VolumeBasedMagneticFieldESProducer.useParametrizedTrackerField = true
  replace famosSimHits.SimulateCalorimetry = false
  replace famosSimHits.SimulateTracking = true
  
  module o1 = PoolOutputModule { untracked string fileName = "test_muon_1GeV.root" }
  
    # Tracking particle module
  include "SimGeneral/TrackingAnalysis/data/trackingParticles.cfi"
  replace trackingtruthprod.TrackerHitLabels = {"TrackerHits"}
  
    # Track Validator    
  include "Validation/RecoTrack/data/cutsTPEffic.cfi"
  include "Validation/RecoTrack/data/cutsTPFake.cfi"
  include "FastSimulation/Tracking/data/cutsGS.cfi"
  include "Validation/RecoTrack/data/MultiTrackValidator.cff"
  replace multiTrackValidator.label = {cutsGS}	
  replace multiTrackValidator.out = "valid_muon_1GeV.root"	
  
    # Track Associators
  include "SimTracker/TrackAssociation/data/TrackAssociatorByChi2.cfi"
  include "SimTracker/TrackAssociation/data/TrackAssociatorByHits.cfi"
  replace TrackAssociatorByHitsESProducer.associateStrip = false 
  replace TrackAssociatorByHitsESProducer.associatePixel = false
  replace TrackAssociatorByHitsESProducer.ROUList = {"TrackerHits"}
  
  path p1 = { 
    famosWithTracks, 
    trackingtruthprod,
    cutsTPEffic, 
    cutsTPFake,
    cutsGS,	
    multiTrackValidator	
  }
  
//    endpath outpath = { o1 }
  
    # Keep the logging output to a nice level #
  include "FWCore/MessageService/data/MessageLogger.cfi"
  replace MessageLogger.destinations = {"detailedInfo_mu1.txt"}
}		
