tt {
  color: #a030ff;
  background-color: #ffffff;
  font-family: "Courier New", courier, monospace;
  font-size: 10pt;
  font-weight: bold;
}

pre {
  color: #000060;
  font-family: "Courier New", courier, monospace;
  font-size: 10pt;
  font-weight: bold;
  white-space: pre;
  background-color: #ffffc0;
  width: 700px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-width: 1px;
  border-style: dashed;
  border-color: #a0a0f0;
}

.fragment pre {
  width: auto;
}

.doctable {
  font-size: 12pt;
  width: 800px;
  vertical-align: top;
}

.doctable TD {
  background-color: #fafafa;
  vertical-align: top;
}

.doctable TH {
  background-color: #e8ecf5; 
  text-align: center; 
  font-weight: bold;
  vertical-align: top;
}

.contact {
  font-size: 10pt;
  font-style: italic;
  width: 200px;
}

.domain {
  width: 180px;
}

A.anchor:hover {
  background-color: #ffffff;  
}
