tt {
  color: #2000b0;
  font-family: "Courier New", courier, monospace;
  font-size: 10pt;
  font-weight: bold;
}

code {
  color: #2000b0;
  font-family: "Courier New", courier, monospace;
  font-size: 10pt;
  font-weight: bold;
}

pre {
  color: #000060;
  font-family: "Courier New", courier, monospace;
  font-size: 10pt;
  font-weight: bold;
  white-space: pre;
  background-color: #ffffc0;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-width: 1px;
  border-style: dashed;
  border-color: #a0a0f0;
}

.doctable {
  font-size: 12pt;
  width: 800px;
  vertical-align: top;
}

.doctable TD {
  background-color: #fafafa;
  vertical-align: top;
}

.doctable TH {
  background-color: #B7CADE; 
  text-align: center; 
  font-weight: bold;
  vertical-align: top;
}

.reftable {
  font-size: 10pt;
  font-weight: bold;
  width: 800px;
  vertical-align: top;
}

.reftable TD {
  background-color: #fafafa;
  vertical-align: top;
}

.reftable TH {
  background-color: #B7CADE; 
  text-align: center; 
  font-weight: bold;
  vertical-align: top;
}

.odd TD {
  background-color: #f8f8fa;
}

.even TD {
  background-color: #eeeeff; 
}

.contact {
  font-size: 10pt;
  font-style: italic;
  width: 200px;
}

.description {
  font-size: 10pt;
  font-style: italic;
  font-weight: normal;
  color: #600030;
  width: 300px;
}

.colgroup TD {
  font-size: 12pt;
  font-weight: bold;
  color: #2000b0;
  background-color: #cfdbe9;
  padding-left: 20px;
}

.domain {
  width: 180px;
}

A.anchor:hover {
  background-color: #ffffff;  
}
