#contextMenu{	/* The menu container */
  border:1px solid #202867;	/* Border around the entire menu */
  background-color:#FFF;	/* White background color of the menu */
  margin:0px;
  padding:0px;
  width:175px;	/* Width of context menu */
  font-family:arial;
  font-size:12px;
  background-image:url('../images/gradient.gif');
  background-repeat:repeat-y;
	
  /* Never change these two values */
  display:none;
  position:absolute;

}
#contextMenu a{	/* Links in the context menu */
  color: #000;
  text-decoration:none;
  line-height:25px;
  vertical-align:middle;	
  height:28px;
	
  /* Don't change these 3 values */
  display:block;	
  width:100%;
  clear:both;
	
}
#contextMenu li{	/* Each menu item */
  list-style-type:none;
  padding:1px;
  margin:1px;
  cursor:pointer;	
  clear:both;
}
#contextMenu li div{	/* Dynamically created divs */
  cursor:pointer;	
}
#contextMenu .contextMenuHighlighted{	/* Highlighted context menu item */
  border:1px solid #000;
  padding:0px;
  background-color:#E2EBED;

}
#contextMenu img{
  border:0px;
}
#contextMenu .imageBox{	/* Dynamically created divs for images in the menu */

  float:left;
  padding-left:2px;
  padding-top:3px;
  vertical-align:middle;
  
  width: 30px;	/* IE 5.x */
  width/* */:/**/28px;	/* Other browsers */
  width: /**/28px;
}
#contextMenu .itemTxt{
  float:left;		
  width: 120px;	/* IE 5.x */
  width/* */:/**/140px;	/* Other browsers */
  width: /**/140px;		
}
