



/* *************** general setup ****************** */


/* links */

  A:link    { color: #000088; }   /* link not visited */
  A:visited { color: #000088; }   /* link visited     */
  A:active  { color: #004040; }   /* link active      */


/* normal text */

  BODY  { margin-left: 2%;
          margin-right: 2%;
          background-color: lightyellow;
          color: #000000;
          width: auto; }


/* headers */

  H1    { font-family: Times;
          font-weight: bold;
          font-size: 200%;
          margin-bottom: 0; }


  H2    { font-family: Times;
          font-weight: bold;
          font-size: 150%;
          margin-bottom: 0; }

  H3    { font-family: Times;
          font-weight:  italic;
          font-size: 18px;
          margin-bottom: 5px;
          color:  #000000; }

  H4    { font-family: Times;
          font-weight:  italic;
          font-size: 16px;
          margin-bottom: 5px;
          color:  #000000; }

  P    { font-family: Times;
          font-weight:  roman;
          font-size: 14px;
          margin-bottom: 5px;
          color:  #000000; }

  H3.menu { margin-bottom: 0;
            font-size: 18px; }

  H5.menu { margin-bottom: 10;
            margin-top: 0;
            font-size: 14px; }

/* page width */

  .page { width: auto; }


/* lists */

  UL.menu    { margin-left: -20; }


/* misc */

  .r      {text-align: right;}
  .rlight { background-color: #ccffff;width: 80px;text-align: right;}




/* ************  Ressources for tables ************** */

/* tables */

  table.listentries {
          border: ;
          cellspacing: 10;
          cellpadding: 20;
          width: 500;
          text-align: center;
        }

#showrun table {
          table-layout: fixed;
          border-collapse: collapse;
          border-style: none;
          border-width: 0;
          width: 500pt;
          text-align: left;
          vertical-align: top;
        }

#showrun  td  {
          border-style: none;
          border-width: 0pt;
          padding: 0;
          vertical-align: top;
        }

#showrun  tr  {
          vertical-align: top;
        }

#showrun ul {
          list-style: disc 1 outside;
        }


#imagegc {
           margin-left: 500px;
           position: absolute;
         }



/*
table { margin: 3px; padding: 2px; border: solid 2px blue }

td { padding: 2px; border-style: solid; border-width: 1px; border-color: gray gray silver silver }
*/

/* headers */

/*  th    { font-family: Comic Sans MS, Verdana, Times;
          font-size: 100%;
          font-weight: bold;
          color: #000000;
          text-align: left;
          background-color: #ffccff;
        } */

  th    { font-family: Times;
          font-size: 100%;
          font-weight: bold;
          color: #000000;
          text-align: left;
          background-color: #ffccff;
        }

  th.entry      { width: 30px; }
  th.SM         { width: 20px; }
  th.type       { width: 30px; }
  th.version    { width: 50px; }
/*  th.sequence   { width: 50px; }	*/
  th.runnb      { width: 50px; }
  th.extra      { width: 50px; }
  th.status     { width: 50px; }
  th.location   { width: 40px; }
  th.rrf        { width: 40px; }
  th.date       { width: 80px; }
  th.time       { width: 80px; }
  th.summary    { width: 80px; }
  th.log        { width: 20px; }
  th.tasks      { width: 60px; }

  th.light      { background-color: #ccffff;}
  th.lightnb    { width: 50px;background-color: #ccffff;}
  th.lightname  { width: 150px;background-color: #ccffff;}
  th.lighttitle { width: 800px;background-color: #ccffff;}

/* rows */

  tr.light      { background-color: #ccffff;}
  tr.yellow      { background-color: #ffffcc;}


/* entries */

/*  td    { font-family: Comic Sans MS, Verdana, Times;
          font-size: 12pt;
          color: #0000aa;
          text-align: left;
        } */

  td    { font-family: Times;
          font-size: 9pt;
          color: #0000aa;
          text-align: left;
        }

  td.entry      { text-align: right; width: 30px; }
  td.SM         { text-align: right; width: 20px; }
  td.type       { width: 30px; }
  td.version    { text-align: center; width: 50px; }
/*  td.sequence   { width: 50px; }	*/
  td.runnb      { text-align: center; width: 50px; }
  td.extra      { width: 50px; }
  td.status     { width: 50px; }
  td.location   { text-align: center; width: 40px; }
  td.rrf        { text-align: center; width: 40px; }
  td.date       { width: 80px; }
  td.time       { width: 80px; }
  td.summary    { text-align: center; width: 80px; }
  td.log        { text-align: center; width: 20px; }
  td.tasks      { text-align: center; width: 60px; }

  td.light      { background-color: #ccffff;}
  td.nb         { width: 50px;}
  td.title      { width: 500px;}

