<ROOT>
 <HEADER>
  <TYPE>
   <EXTENSION_TABLE_NAME>HCAL_RBX_CONFIGURATION_TYPE01</EXTENSION_TABLE_NAME>
   <NAME>HCAL RBX configuration [PEDESTAL]</NAME>
  </TYPE>
  <RUN mode="no-run"/>
 </HEADER>

 <ELEMENTS>
  <DATA_SET id="-1"/>
  <IOV id="1">
   <INTERVAL_OF_VALIDITY_BEGIN>2147483647</INTERVAL_OF_VALIDITY_BEGIN>
   <INTERVAL_OF_VALIDITY_END>0</INTERVAL_OF_VALIDITY_END>
  </IOV>
  <TAG id="2" mode="auto">
   <TAG_NAME>test-rbx-configuration-01</TAG_NAME>
   <DETECTOR_NAME>HCAL</DETECTOR_NAME>
   <COMMENT_DESCRIPTION>RBX configuration</COMMENT_DESCRIPTION>
  </TAG>
 </ELEMENTS>
 <MAPS>
  <TAG idref="2">
   <IOV idref="1">
    <DATA_SET idref="-1"/>
   </IOV>
  </TAG>
 </MAPS>
</ROOT>
