<ROOT>
  <HEADER>
    <TYPE>
      <EXTENSION_TABLE_NAME>HCAL_ZERO_SUPPRESSION_TYPE01</EXTENSION_TABLE_NAME>
      <NAME>HCAL zero suppression [type 1]</NAME>
    </TYPE>
    <RUN>
      <RUN_TYPE>hcal-test</RUN_TYPE>
      <RUN_NUMBER>1</RUN_NUMBER>
      <RUN_BEGIN_TIMESTAMP>2007-02-28 00:00:00.0</RUN_BEGIN_TIMESTAMP>
      <COMMENT_DESCRIPTION>zero suppression data taken</COMMENT_DESCRIPTION>
    </RUN>
    <HINTS channelmap='HCAL_CHANNELS_OLD_V1'/>
  </HEADER>
  <!-- Tags secton -->
  <ELEMENTS>
    <DATA_SET id="-1" />
    <IOV id="1">
      <INTERVAL_OF_VALIDITY_BEGIN>2147483647</INTERVAL_OF_VALIDITY_BEGIN>
      <INTERVAL_OF_VALIDITY_END>0</INTERVAL_OF_VALIDITY_END>
    </IOV>
    <TAG id="2" mode="auto">
      <TAG_NAME>test-zero-supress01</TAG_NAME>
      <DETECTOR_NAME>HCAL</DETECTOR_NAME>
      <COMMENT_DESCRIPTION>Zero suppression loader header template</COMMENT_DESCRIPTION>
    </TAG>
  </ELEMENTS>
  <MAPS>
    <TAG idref="2">
      <IOV idref="1">
        <DATA_SET idref="-1" />
      </IOV>
    </TAG>
  </MAPS>
</ROOT>
