<CFGBrick>
<Parameter name='CRATE' type='int'>0</Parameter>
<Parameter name='SLOT' type='int'>13</Parameter>
<Parameter name='TOPBOTTOM' type='int'>0</Parameter>
<Parameter name='FIBER' type='int'>1</Parameter>
<Parameter name='GENERALIZEDINDEX' type='int'>1301</Parameter>
<Parameter name='CREATIONTAG' type='string'>example</Parameter>
<Parameter name='CREATIONSTAMP' type='string'>2006-03-21 14:21:45</Parameter>
<Parameter name='PATTERN_SPEC_NAME' type='string'>example</Parameter>
<Data elements='1024' encoding='hex'>
10803 10808 10aab 10a06 10953 10a0a 109fb 10808
</Data>
</CFGBrick>
