# Set a limit on the number of events to process per run
EVENTLIMIT=1000

# Set the name of the map file to use
#MAPFILE=CondFormats/HcalObjects/data/emap_tb2006_v7.txt
MAPFILE=RecoTBCalo/HcalPlotter/data/emap_hcal_generic.txt

# Set the name of a pedestals file to use (if desired)
#PEDESTALFILE=a.txt

# Set the name of a gains file to use (if desired)
#GAINSFILE=

# FED list to unpack
FEDS=20

# First FED
#FIRSTFED=

# Mode of operation [MTCC|TB06|TESTSTAND|USC]
# MTCC      - not available currently
#
# TB06      - uses PoolSource
#	    - assumes FIRSTFED=700
#           - unpacks trigger data
#
# TESTSTAND - uses HcalTBSource
#	    - assumes FIRSTFED=20 if not set.
#           - unpacks trigger data
#
# USC       - uses HcalTBSource
#	    - ignores FIRSTFED and FED environment variables
#	    - tries to unpack all HCAL FEDs 700-731
#           - unpacks trigger data
#
MODE=USC

# To unpack calibration channels and plot them, 
# give this variable a string with more than 1 character,
# OTHERWISE LEAVE IT BLANK, or comment it out, as in:
#DOCALIB=
#
DOCALIB=1234

# "Printf"-style format string for the input filename -
#                     allows input of run number only
#      - include the full path to the file in the string.
#
#FORMAT="~/cms/data/tb06/dirTest/h2.%08d.combined.OutServ_0.0.root"
#FORMAT="HTB_%06d.root"
FORMAT="/tmp/HTB_%06d.root"

# Declare Histogram Bound parameters
PED_E_GEV_LO=-5
PED_E_GEV_HI=5
#
PED_E_ADC_LO=0
PED_E_ADC_HI=200
#
LED_E_GEV_LO=-5
LED_E_GEV_HI=250
#
LASER_E_GEV_LO=-5
LASER_E_GEV_HI=350
#
OTHER_E_GEV_LO=-5
OTHER_E_GEV_HI=250
#
BEAM_E_GEV_LO=-5
BEAM_E_GEV_HI=350
#
TIME_NS_LO=50
TIME_NS_HI=250
