# Set a limit on the number of events to process per run
EVENTLIMIT=1000

# Set the name of the map file to use
MAPFILE=CondFormats/HcalObjects/data/emap_tb2006_v7.txt

# Set the name of a pedestals file to use (if desired)
#PEDESTALFILE=a.txt

# Set the name of a gains file to use (if desired)
#GAINSFILE=

# FED list to unpack
FEDS=20

# Mode of operation [MTCC|TB06|TB04]
MODE=TB04

# "Printf"-style format string for the input filename -
#                     allows input of run number only
#      - include the full path to the file in the string.
#
FORMAT="/tmp/HTB_%06d.root"
#FORMAT="~/cms/data/tb06/dirTest/h2.%08d.combined.OutServ_0.0.root"
#FORMAT="HTB_%06d.root"

# Declare Histogram Bound parameters
PED_E_GEV_LO=-5
PED_E_GEV_HI=5
#
LED_E_GEV_LO=-5
LED_E_GEV_HI=250
#
LASER_E_GEV_LO=-5
LASER_E_GEV_HI=350
#
OTHER_E_GEV_LO=-5
OTHER_E_GEV_HI=250
#
BEAM_E_GEV_LO=-5
BEAM_E_GEV_HI=350
#
TIME_NS_LO=50
TIME_NS_HI=250
