import FWCore.ParameterSet.Config as cms

process = cms.Process("Lumi")
process.load("CondCore.DBCommon.CondDBSetup_cfi")

process.MessageLogger = cms.Service("MessageLogger",
   suppressInfo = cms.untracked.vstring(),
   destinations = cms.untracked.vstring('#jobreportname#'),
   categories = cms.untracked.vstring('LumiReport')
)

process.PoolDBOutputService = cms.Service("PoolDBOutputService",
    process.CondDBSetup,
    BlobStreamerName = cms.untracked.string('TBufferBlobStreamingService'),
    timetype = cms.untracked.string('lumiid'),
    connect = cms.string('#sqlite_file:mydata.db#'),
    logconnect = cms.untracked.string('sqlite_file:log.db'),     
    toPut = cms.VPSet(cms.PSet(
        record = cms.string('LumiSectionData'),
        tag = cms.string('#tag#')
    ))
)

process.source = cms.Source("EmptyIOVSource",
    lastValue = cms.uint64(1),
    timetype = cms.string('runnumber'),
    firstValue = cms.uint64(1),
    interval = cms.uint64(1)
)

process.lumidatatransfer = cms.EDAnalyzer("LumiSectionDataPopCon",
    Source = cms.PSet(
      lumiRetrieverName = cms.string('mixedsource'),
      lumiFileName = cms.string('#rootfilename#'),
      allowForceFirstSince = cms.bool(False),
      triggerDB = cms.string('oracle://cms_omds_lb/CMS_GT_MON'),
      authPath = cms.string('#authpath#'),
      runmode = cms.untracked.string('truerun')
    ),                                          
    SinceAppendMode = cms.bool(True),
    name = cms.untracked.string('LumiSectionData'),
    record = cms.string('LumiSectionData'),                     
    loggingOn = cms.untracked.bool(True),
    debug = cms.bool(False)
)

