<?xml version="1.0"?>
<!-- 
  The ecal-presh.xml was excluded, because of a current DDD-limitation AND a 
  G4 bug causing the program ddex.cpp to crash when executing the self-tests ....
-->  
<Configuration >
   <Include>
      <File name="CMS/CMSGeometry/cms.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="CMS/CMSGeometry/quadrupole.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="CMS/CMSGeometry/beampipe.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="CMS/CMSGeometry/mgnt.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="CMS/CMSGeometry/cavern.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="Tracker/TrackerGeometry/trak.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="Tracker/TrackerGeometry/pxlx.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="Tracker/TrackerGeometry/tib.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="Tracker/TrackerGeometry/tid.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="Tracker/TrackerGeometry/tec.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="Tracker/TrackerGeometry/tob.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="ECal/ECalGeometry/ecal.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="HCal/HCalGeometry/hcal.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="HCal/HCalGeometry/hcalbarrel.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="HCal/HCalGeometry/hcalendcap.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="HCal/HCalGeometry/hcalouter.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="HCal/HCalGeometry/vcal.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="Muon/MuonGeometry/mb.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="Muon/MuonGeometry/mf.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="Muon/MuonGeometry/malg.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="Materials/materials.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>  
      <File name="Rotations/rotations.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/>
      <File name="CMS/CMSGeometry/colors.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="Tracker/TrackerSensDet/trackersens.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="ECal/ECalSensDet/ecalsens.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="HCal/HCalSensDet/hcalsens.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="Muon/MuonSensDet/muonsens.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <File name="Muon/MuonSensDet/muon_numbering.xml"   url="/afs/cern.ch/cms/Releases/Geometry/prerelease/Geometry_1_16_1_pre2/src/"/> 
      <!--File name="muon_numbering.xml"   url="."/--> 
      <File name="TrackerData/orca_tracker.xml"   url="/afs/cern.ch/cms/Releases/ORCA/ORCA_8_9_0/src/Data/"/> 
      <File name="MuonData/BarrelData/MuBarOrcaFilter.xml"   url="/afs/cern.ch/cms/Releases/ORCA/ORCA_8_9_0/src/Data/"/> 
      <File name="MuonData/EndcapData/MuEndOrcaSpec.xml"   url="/afs/cern.ch/cms/Releases/ORCA/ORCA_8_9_0/src/Data/"/> 
      <File name="MuonData/EndcapData/MuEndOrcaFilter.xml"   url="/afs/cern.ch/cms/Releases/ORCA/ORCA_8_9_0/src/Data/"/> 
      <File name="MuonData/RpcData/MuRpcOrcaSpec.xml"   url="/afs/cern.ch/cms/Releases/ORCA/ORCA_8_9_0/src/Data/"/> 
   </Include>
   <Root fileName="cms.xml" logicalPartName="OCMS"/>
</Configuration>

