process PROD = {

service = RandomNumberGeneratorService
{
    untracked uint32 sourceSeed           = 42352
}

include "FWCore/MessageService/data/MessageLogger.cfi"

untracked PSet maxEvents = {untracked int32 input = 1000}
source = Herwig6Source 
{ 
    
    untracked int32 herwigVerbosity       = 0
    untracked bool herwigHepMCVerbosity   = false	
    untracked int32 maxEventsToPrint      = 0
    untracked bool useJimmy               = true
    untracked bool doMPInteraction        = true
    untracked bool printCards             = false
    untracked string lhapdfSetPath        = "/afs/cern.ch/sw/lcg/external/MCGenerators/lhapdf/5.2.3/share/PDFsets"

    # include parameter card
    include "GeneratorInterface/Herwig6Interface/test/HerwigHZZ4mu.cfi"
    
}	

#this filters out empty (by HERWIG killed) events from the PoolOutputModule
module filter = Herwig6Filter {}

#path p1 = {filter}

#module GEN = PoolOutputModule { 
#    untracked string fileName             = "herwigHZZ4mu.root"
#    untracked PSet SelectEvents = {
#      	vstring SelectEvents = {"p1"}
#	}
#    }	

 module TestHepMCEvt = H4muAnalyzer
   {
      untracked string outputFilename = "TestHZZ4muMass.root"
   }
     
   path p2 = { TestHepMCEvt } 


}
