process TEST = {

   
   untracked PSet maxEvents = { untracked int32 input = 1000 }
   
   # this is an example of the MessageLogger explicit configuration
   # it's different from "standard" configuration and shuts off all
   # messages to cout stream, etc.
   # if you want to free up Fwk messages, just uncomment
   # (others can be in a similar way)
   #
   service = MessageLogger
   {
      untracked vstring destinations = {"cout"}
       
      untracked vstring categories = { "FwkJob" }
 
      untracked PSet cout = 
      { 
         untracked PSet default = { untracked int32 limit = 0 }    # kill all messages in the log
         untracked PSet FwkJob  = { untracked int32 limit = -1 }  # except *all* of FwkJob's
      }
       
      #untracked vstring fwkJobReports = {"FrameworkJobReport.xml"}
   }
    
   # control point for all seeds
   #
   include "Configuration/StandardSequences/data/SimulationRandomNumberGeneratorSeeds.cff"

   # physics event generation
   #
   
   include "SimGeneral/HepPDTESSource/data/pythiapdt.cfi"
   
   include "Configuration/Generator/data/PythiaH190ZZ4mu.cfi"
   #replace PythiaSource.pythiaHepMCVerbosity = true # turn of HepMC list printouts
   #replace PythiaSource.pythiaPylistVerbosity = 1 # turn on Pythia printouts
   #replace PythiaSource.maxEventsToPrint = 1 # number of events to print
   
   module TestHepMCEvt = H4muAnalyzer
   {
      untracked string HistOutFile = "TestHZZ4muMass.root"
   }
     
   path p1 = { TestHepMCEvt } 

   ### A user may optionally apply vertex smearing (IR effect)
   ### (the config included below returns label "VtxSmeared")
   ###
   ### include "Configuration/StandardSequences/data/VtxSmearedGauss.cff"

   ### ... and can also include other PhysicsTools 
   ### (gen.part. analyzer, etc.) in this test
   ### (the config below returns sequence "pgen") 
   ###
   ### include "Configuration/StandardSequences/data/Generator.cff"
   ###
   ###path p1 = { VtxSmeared, pgen, TestHepMCEvt }

   ### A user may also dump edm::Event's into a separate output file.
   ### However, at this point, we prefer NOT to write edm::Event file 
   ### due to conflicts with writing out plain histo root file (Fwk dev.)
   ###
   ###module GEN = PoolOutputModule
   ###{
   ###   untracked string fileName = "pythiaH190ZZ4mu.root"
   ###   untracked vstring outputCommands = { "keep * " }
   ###}
   ###endpath e = { GEN }
   ###schedule = { p1, e } 
 
}
