#
# Python config file to drive phi symmetry et sum accumulation
# From real or simulated alcaraw (output of hlt)
#
#

import FWCore.ParameterSet.Config as cms

process=cms.Process("PHISYM")
process.maxEvents = cms.untracked.PSet(
    input = cms.untracked.int32(-1)
)

process.source = cms.Source("PoolSource",
    fileNames = cms.untracked.vstring(INPUTFILES)
)



process.phisymcalib = cms.EDAnalyzer("PhiSymmetryCalibration", 
    ecalRecHitsProducer = cms.string("hltAlCaPhiSymStream"),
    barrelHitCollection = cms.string("phiSymEcalRecHitsEB"),
    endcapHitCollection = cms.string("phiSymEcalRecHitsEE"),
    eCut_barrel = cms.double(0.0),
    eCut_endcap = cms.double(0.0),
    eventSet = cms.int32(NUMBER)
  )

process.p = cms.Path(process.phisymcalib)
