#
#  run on collection of ecal rechits to make a collection of AlCaReco rechits 
#  and store them in the output collection
#
#  Author: David Futyan
#  $Id: recHitsToAlCaPhiSymRecHits.cfg,v 1.3 2006/09/26 21:21:22 malgeri Exp $
#  $Date$

process recHitsToAlCaPhiSymRecHitsProcess = 
{

untracked PSet maxEvents = {untracked int32 input = -1}

  include "Calibration/EcalAlCaRecoProducers/data/alcastreamEcalPhiSym.cff"
  include "Calibration/EcalAlCaRecoProducers/data/alcastreamEcalPhiSymOutput.cff"

  # input module. assume root file contains EcalRecHits
  source = PoolSource 
  {
   
    untracked vstring fileNames = {

       INPUTFILES

    }
 }


  # output module so store only rechits for phi symmetry calibration
  module out = PoolOutputModule
  {
     untracked string fileName = "OUTPUTFILE" 
     using alcastreamEcalPhiSymOutput
  }

  path pathAlcastreamEcalPhiSym = {seqAlcastreamEcalPhiSym}
  endpath outpath = { out }
}
