process PROD = {

source = DaqSource{ string reader = "CSCFileReader"
               	 	untracked int32 maxEvents = 100
        PSet pset = {untracked vstring fileNames = {"runs/RunNum500Evs0to9999.bin"} }
	}

        module cscunpacker = CSCDCCUnpacker {
               untracked bool Debug = false
               untracked bool PrintEventNumber = false
               untracked string theMappingFile = "csc_slice_test_map.txt"
               untracked bool UseExaminer = false
        }

	module analyzer = CSCAFEBAnalyzer {
#        string TestName="AFEBThresholdScan"
        string TestName="AFEBConnectivity"
#        string HistogramFile = 'hist_AnodeThr30_RunNum500Evs0to9999.root'
        string HistogramFile = 'hist_AnodeConnect_RunNum500Evs0to9999.root'
         } 
   
        path p = {cscunpacker,analyzer}
}
