[CRAB]
jobtype = cmssw
scheduler = caf
#server_name=caf

[CMSSW]
datasetpath = /MinimumBias/Commissioning10-v4/RAW
pset = esAnalysis.py

runselection=XXXXXX
total_number_of_events=-1
events_per_job = 150000
#number_of_jobs = 1
output_file = DQM_V0001_EcalPreshower_R000XXXXXX.root

[USER]
return_data = 1
use_central_bossDB      = 0
use_boss_rt             = 0

## OR output is copied to castor via rfcp
#copy_data = 1
## If no storage_path is set, CASTOR_HOME will be used
#storage_path = 

[GRID]
rb                      = CERN
proxy_server            = myproxy.cern.ch
virtual_organization    = cms
retry_count             = 0
lcg_catalog_type        = lfc
lfc_host                = lfc-cms-test.cern.ch
lfc_home                = /grid/cm

[CAF]
queue=cmscaf1nd
