import FWCore.ParameterSet.Config as cms

process = cms.Process("myprocess")
process.load("CondCore.DBCommon.CondDBCommon_cfi")

process.CondDBCommon.connect = 'sqlite_file:PhysicsPerformance.db'

process.load ("Pool_template")
process.load ("Btag_template")


process.maxEvents = cms.untracked.PSet(
    input = cms.untracked.int32(1)
    )
process.source = cms.Source("EmptySource")




process.demo = cms.EDAnalyzer('TestOctoberExe2',
                              CalibrationForBEfficiency = cms.string('MISTAGSSVM'),
                              CalibrationForCEfficiency = cms.string('MISTAGSSVM'),
                              CalibrationForMistag = cms.string('MISTAGSSVM'),
                              algoNames = cms.vstring(


