universe = vanilla
Executable = ${file} 
should_transfer_files = NO
Output = ${scratch}/stdout.log
Error  = ${scratch}/stderr.log
Log    = ${scratch}/condor.log
arguments = ""
+UseSL4=TRUE
Requirements = Memory >= 199 && OpSys == "LINUX" && (Arch != "DUMMY")
Queue 1
