# CSA07 Skim for  Z-->EE
# Filter events with HLT bits: sigle electron, double electron, double relaxed electron
# then produces AODSIM selected events
# Created by Luca Lista, Nicola De Filippis
# Tested on 2007/07/06/

process TestZToEEReco = {
  include "FWCore/MessageLogger/data/MessageLogger.cfi" 
  include "ElectroWeakAnalysis/ZReco/data/AODSIMZToEE_EventContent.cff"
  include "ElectroWeakAnalysis/ZReco/data/zToEEPaths.cff"

  untracked PSet options = {
    untracked bool wantSummary = true
  }

  untracked PSet maxEvents = { 
    untracked int32 input = 100 
  }

  source = PoolSource {
    untracked int32 maxEvents = 100
    untracked vstring fileNames = {
      "file:events.root"
    }
  }

replace PoolSource.fileNames = {
'file:./Electrons.root'
}

  module report=HLTrigReport{
        InputTag HLTriggerResults = TriggerResults
        }
                                                                                               
  module high= HLTHighLevel{
        InputTag TriggerResultsTag = TriggerResults
        bool byName = true
        bool andOr= true        
        vstring HLTPaths ={"SingleElectron","DoubleElectron","RelaxedDoubleElectron"}
        }

  module evtInfo = AsciiOutputModule {
  }

  module AODSIM1 = PoolOutputModule {
    untracked string fileName = "zToEE.root"
    using AODSIMZToEEEventContent	
    using ZToEEEventSelection
  }

  endpath end = {
    report,high,evtInfo, AODSIM1 
  }
}
