# CSA07 Skim for  Z-->MuMu
# Filter events with HLT bit: sigle muon, double muon, isolated and not, ztomumu
# then produces AODSIM selected events
# Created by Luca Lista, Nicola De Filippis
# Tested on 2007/07/06/

process TestZToMuMuReco = {
  include "FWCore/MessageLogger/data/MessageLogger.cfi" 
  include "ElectroWeakAnalysis/ZReco/data/AODSIMZToMuMu_EventContent.cff"
  include "ElectroWeakAnalysis/ZReco/data/zToMuMuPaths.cff"

  untracked PSet options = {
    untracked bool wantSummary = true
  }

  untracked PSet maxEvents = { 
    untracked int32 input = 100 
  }

  source = PoolSource {
    untracked int32 maxEvents = 100
    untracked vstring fileNames = {
      "file:events.root"
    }
  }

replace PoolSource.fileNames = {
'file:./Muons.root'
}

  module report=HLTrigReport{
        InputTag HLTriggerResults = TriggerResults
        }
                                                                                               
  module high= HLTHighLevel{
        InputTag TriggerResultsTag = TriggerResults
        bool byName = true
        bool andOr= true
        vstring HLTPaths ={"pSMIso","pSMNoIso","pDMIso","pDMNoIso","pZMM"}
        }

  module evtInfo = AsciiOutputModule {
  }

  module AODSIM1 = PoolOutputModule {
    untracked string fileName = "zToMuMu.root"
    using AODSIMZToMuMuEventContent	
    using ZToMuMuEventSelection
  }

  endpath end = {
    report,high,evtInfo, AODSIM1 
  }
}
