# CSA07 Skim for  Z-->MuMu
# Filter events with HLT: sigle muon, double muon, isolated and not, ztomumu
# then produces AODSIM selected events
# Created by Luca Lista, Nicola De Filippis
# Tested on 2007/07/06/

process TestZToMuMuReco = {
  include "FWCore/MessageLogger/data/MessageLogger.cfi" 
  include "ElectroWeakAnalysis/ZReco/data/AODSIMZToMuMu_EventContent.cff"
  include "ElectroWeakAnalysis/ZReco/data/zToMuMuPaths.cff"

  untracked PSet options = {
    untracked bool wantSummary = true
  }

  untracked PSet maxEvents = { 
    untracked int32 input = 100 
  }

  source = PoolSource {
    untracked int32 maxEvents = 100
    untracked vstring fileNames = {
      "file:events.root"
    }
  }

replace PoolSource.fileNames = {
'file:./Muons.root'
}

  #------------ HLT Muon Paths -------------------------------------
  include "HLTrigger/Muon/data/PathSingleMu_1032_Iso.cff"
  path pSMIso = { singleMuIso }
 
  include "HLTrigger/Muon/data/PathSingleMu_1032_NoIso.cff"
  path pSMNoIso = { singleMuNoIso }
 
  include "HLTrigger/Muon/data/PathDiMuon_1032_Iso.cff"
  path pDMIso = { diMuonIso }
 
  include "HLTrigger/Muon/data/PathDiMuon_1032_NoIso.cff"
  path pDMNoIso = { diMuonNoIso }
 
  #------------ HLT Muon Paths -------------------------------------
  include "HLTrigger/Muon/data/PathZmumu.cff"
  path pZMM = { zMM }
 
  module evtInfo = AsciiOutputModule {
  }

  module AODSIM1 = PoolOutputModule {
    untracked string fileName = "zToMuMu.root"
    untracked PSet SelectEvents = {
      vstring SelectEvents = { "pSMIso","pSMNoIso","pDMIso","pDMNoIso","pZMM"}
    }
    using AODSIMZToMuMuEventContent	
    using ZToMuMuEventSelection
  }

  endpath end = {
    evtInfo, AODSIM1 
  }
}
