process VISTA  = {

untracked PSet maxEvents = {untracked int32 input = 4}
#include "PhysicsTools/HepMCCandAlgos/data/genParticleCandidates.cfi"
#include "SimGeneral/HepPDTESSource/data/pythiapdt.cfi"
#include "Validation/VstNtuple2txt/data/qcd_100_250.cfi"
${source}
module demo = Ntuple2txt {
    string fileName_ = "qmp_tmp"
}

##service = MessageLogger {}
##include "FWCore/MessageService/data/MessageLogger.cfi"

 service = MessageLogger {
   untracked vstring destinations = 
                               { "cout" }

      untracked
      PSet default = { untracked int32 limit    = 100
                       untracked int32 timespan =  60
                     }

      untracked
      vstring categories = { "postBeginJob", "Root_Information" }

      untracked PSet cout     = { 
        untracked string threshold = "INFO" 
        untracked PSet Root_Information = { untracked int32 limit = 0 }
      }


 }
#replace MessageLogger.cerr.FwkReport.reportEvery = 1000




module genVista = VstParticleCandidateSelector {
    InputTag src = genParticleCandidates
    untracked bool verbose = false
    bool stableOnly = false
    untracked double etaMaxShower = 4.0
    untracked double etaMaxParticle = 4.0
    }

module VistaJet = IterativeConeJetProducer {
    untracked int32 debugLevel = 0
    double seedThreshold = 1.0
    double inputEtMin = 1.
    double inputEMin = 0.
    InputTag src = genVista:partonShowerVst
    untracked string jetType = "GenJet"
    untracked bool verbose = false
    double coneRadius = 0.7
  }

module VistaTauJet = IterativeConeJetProducer {
    untracked int32 debugLevel = 0
    double seedThreshold = 1.0
    double inputEtMin = 1.
    double inputEMin = 0.
    InputTag src = genVista:tauVst
    untracked string jetType = "GenJet"
    untracked bool verbose = false
    double coneRadius = 0.1
  }

module VistaJetClone = GenJetShallowCloneProducer{
    InputTag src = VistaJet
  }

module particleJetMatch = TrivialDeltaRMatcher {
    InputTag matched = VistaJetClone
    InputTag src = genVista:otherStableVst
    double distMin = 0.8
}

#replace VistaJet.src = genParticleCandidates

module printGenParticle = ParticleListDrawer {
    InputTag src = genParticleCandidates
    untracked int32 maxEventsToPrint = 10
  }


module printVistaJet = ParticleListDrawer {
    InputTag src = VistaJetClone
    untracked int32 maxEventsToPrint = 5
  }

module printOtherStableVst = ParticleListDrawer {
    InputTag src = genVista:otherStableVst
#    untracked bool printP4 = true
    untracked int32 maxEventsToPrint = 5
  }

module mergerVst = CandMerger {
   VInputTag src = {genVista:electronVst, genVista:muonVst, genVista:photonVst}
}




path p = {
#          genParticleCandidates,
#          printGenParticle,
          genVista,
          VistaJet,
 	  VistaJetClone,
#	  VistaTauJet,
# 	  printOtherStableVst,
          particleJetMatch,
	  mergerVst,
          demo}
}

