process Demo =  {
  
untracked PSet maxEvents = {untracked int32 input = -1 }
source = PoolSource 
{ 
#  untracked uint32 skipEvents=663
      # replace 'myfile.root' with the source file you want to use
     untracked vstring fileNames = {

#'/store/RelVal/2007/9/4/RelVal-RelVal145QCD_pt50_80-1188913844/0002/3A660D3B-155B-DC11-8E89-00304856278C.root',
#'/store/RelVal/2007/9/4/RelVal-RelVal145QCD_pt50_80-1188913844/0002/487A6802-035B-DC11-90AE-00304885A50E.root',
#'/store/RelVal/2007/9/4/RelVal-RelVal145QCD_pt50_80-1188913844/0002/9AD1BCC8-0C5B-DC11-BAA8-00304885A50E.root',
#'/store/RelVal/2007/9/4/RelVal-RelVal145QCD_pt50_80-1188913844/0002/E46F401E-055B-DC11-BEE0-000423D99A2A.root'

#"file:/uscmst1b_scratch/lpc1/3DayLifetime/cammin/files/3A660D3B-155B-DC11-8E89-00304856278C.root"

# CSA07 RelVal145 TT sample
#"file:/uscmst1b_scratch/lpc1/3DayLifetime/cammin/files/22F8ADA0-CC5A-DC11-9B4E-000423D94524.root"

# From Len's config file
#"file:/uscmst1b_scratch/lpc1/3DayLifetime/cammin/files/122C11AC-9149-DC11-AF91-000423D98F98.root"

# File from below in which my code crashed:
#"file:/uscmst1b_scratch/lpc1/3DayLifetime/cammin/files/186CAE4D-0664-DC11-BB17-001A92810AA6.root"



#   '/store/mc/2007/11/18/RelVal-RelValTTbar-1195426437/0015/1056AD9B-8196-DC11-847A-001731A28999.root'

#   '/store/mc/2007/11/18/RelVal-RelValZTT-1195426437/0015/2AD0ED7F-A596-DC11-95D7-001731AF68AB.root'

##   RelVal170_pre11 QCD 120_170
#    '/store/mc/2007/11/8/RelVal-RelValQCD_Pt_120_170-HLT/0000/2A117B5E-068E-DC11-970E-00304855D4BC.root'
#   RelVal170_pre11 QCD 30_50
        '/store/mc/2007/11/7/RelVal-RelValQCD_Pt_30_50-HLT/0000/0E86856B-EB8D-DC11-BFD3-00304885AC70.root',
        '/store/mc/2007/11/7/RelVal-RelValQCD_Pt_30_50-HLT/0000/2CBE0A03-EC8D-DC11-8820-00304885AFFE.root',
        '/store/mc/2007/11/7/RelVal-RelValQCD_Pt_30_50-HLT/0000/3A82A9B9-EC8D-DC11-B0C0-003048562854.root',
        '/store/mc/2007/11/7/RelVal-RelValQCD_Pt_30_50-HLT/0000/4899C926-EF8D-DC11-983D-000423D94C68.root',
        '/store/mc/2007/11/7/RelVal-RelValQCD_Pt_30_50-HLT/0000/66FA00FB-EB8D-DC11-B05F-000423D999CA.root',
        '/store/mc/2007/11/7/RelVal-RelValQCD_Pt_30_50-HLT/0000/68ACBC58-EC8D-DC11-8682-00304885B116.root',
        '/store/mc/2007/11/7/RelVal-RelValQCD_Pt_30_50-HLT/0000/6CF6616B-EB8D-DC11-B43B-003048562752.root',
        '/store/mc/2007/11/7/RelVal-RelValQCD_Pt_30_50-HLT/0000/76724070-EB8D-DC11-95B9-00304855D4E8.root',
        '/store/mc/2007/11/7/RelVal-RelValQCD_Pt_30_50-HLT/0000/8ABAA36A-EB8D-DC11-878F-00304885AA88.root',
        '/store/mc/2007/11/7/RelVal-RelValQCD_Pt_30_50-HLT/0000/D0866069-EB8D-DC11-B925-000423D986A8.root'
     }

}


## Running the L1 emulator and making 'physics' objects out of L1 objects
#
#include "Configuration/StandardSequences/data/FakeConditions.cff"
#module hlt1GetDigi = hltGetDigi from "HLTrigger/HLTanalyzers/data/hltGetDigi.cfi"
#include "Configuration/StandardSequences/data/L1Emulator.cff"
#include "Configuration/StandardSequences/data/L1Extra.cff"
#
#sequence hltBegin = { hlt1GetDigi & (L1Emulator , L1Extra) }





#keep the logging output to a nice level
service = MessageLogger {}

module myanalyzer = JetMETHLTAnalyzer { 
  bool    Debug       = false
  int32     Progress    = 100
  string  CaloJets	      = "iterativeCone5CaloJets"
  string  GenJets	      = "iterativeCone5GenJets"

# l1 from mc truth
#  string l1extramc = "l1extramctruth" 
# l1 from emulator
  string l1extramc = "l1extraParticles" 

}

service = TFileService {
     string fileName = "histo.root"
}

path p = {myanalyzer} 

}
