	body {
		margin:0;
		padding:0;
		font-size: 12px;
		font-family: arial, verdana, sans-serif;

	}

	table {
		margin:0;
		padding:0;
		font-size: 12px;
		font-family: arial, verdana, sans-serif;

	}

	.header {	
		border-color: #ccccff;
		border-style: solid;
		top:0;
		left: 0;
		text-align:center;
		font-family: arial, verdana, sans-serif;
	}




	#title {
		font-size: 3em;
		text-align: center;
	}

	#subtitle {
		font-size: 3em;
		text-align: center;

	}

	.endcap {	

		border-color: #ffcccc;
		border-style: solid;
		text-align:center;
		font-family: arial, verdana, sans-serif;
	}


	.numbering {

		border-color: #ccccff;
		border-style: solid;
		font-family: arial, verdana, sans-serif;
	}

	#titleWindow {
		font-size: 2em;
		border-color: #ccccff;
		border-style: solid;
		text-align: center;
	}
