body { font-family: arial; 
       font-size: small }
      
table { color: yellow;
        background-color: blue;
        border-width: 5px;
        border-style: groove;
        border-color: black; 
        padding: 10px; }
