body
{
  font-family: "Liberation Sans", Tahoma, "Times New Roman", sans-serif;
  font-size: 12pt;
  color: #0000b0;
  background-color: #a0b0f0;
}

#head_table
{
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
}

#head_table td
{
  padding: 20px;
}

a:link, a:visited
{
  color: #0000e0;
  background-color: #a0b0f0;
  font-weight: bold;
  text-decoration: none;
}

a:hover
{
  color: red;
  background-color: #a0b0f0;
  font-weight: bold;
  text-decoration: none;
}

li
{
  list-style: none;
  margin: 10px;
}

#div_lang
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: #a0b0f0;
  background-color: #0000b0;
  font-size: 10pt;
}

#tab_lang
{
  float: right;
  margin: 10px;
}

#div_main
{
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

#contact_img_id
{
  margin-left: 100px;
}
